<div class="article-create-container">
  <div class="header">
    <button mat-icon-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Créer un nouvel article</h1>
  </div>

  <form (ngSubmit)="createArticle()" class="article-form">
    <mat-form-field appearance="outline">
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select [(value)]="selectedTopicId">
        <mat-option *ngFor="let topic of topics" [value]="topic.id">{{ topic.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Titre de l'article</mat-label>
      <input matInput [(ngModel)]="title" name="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contenu de l'article</mat-label>
      <textarea matInput [(ngModel)]="content" name="content"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Créer</button>
  </form>
</div>
