<div class="header">
<button class="back-button" (click)="goBack()">←</button>
<br>
  <h1 class="title">{{ article.title }}</h1>
</div>  
<div class="article-details-container">

  <div class="meta">
    <span>{{ article.date | date }}</span>
    <span class="dot"></span>
    <span>{{ author.name }}</span>
    <span class="dot"></span>
    <span>{{ articleTopic.title }}</span>
  </div>

  <div class="content">
    {{ article.content }}
  </div>

  <hr />

  <h2 class="comments-title">Commentaires</h2>

  <div class="comments-list">
    <div *ngFor="let comment of comments" class="comment">
      <div class="username">{{ comment.user }}</div>
      <div class="bubble">{{ comment.comment }}</div>
    </div>
  </div>

  <form class="comment-form" (ngSubmit)="submitComment()">
    <textarea [(ngModel)]="newComment" name="comment" placeholder="Écrivez ici votre commentaire"></textarea>
    <button type="submit" class="send-button">
      <i class="fa fa-paper-plane"></i> <!-- ou une icône svg -->
    </button>
  </form>
</div>
