.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;

  .logo {
    height: 40px;
  }

  .nav-desktop {
    display: flex;
    align-items: center;
    gap: 1rem;

    a,
    button {
      font-weight: 400;
      color: black;
      text-transform: none;
      background: transparent;
      border: none;
    }

    a.active {
      font-weight: 500;
      color: blue;
    }
.deconnect{
              color: rgb(238, 4, 4);

      }
    a[mat-icon-button] {
      padding: 0;
      margin-left: 0.5rem;
      
    }
  }

  .burger-btn {
    display: none;
  }

  .sidenav-container {
    height: auto;
  }

  mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 100%;
  padding: 2rem 1rem;
  background: white;
  width: 200px;

  .deconnect {
    align-self: flex-start;
    color: red;
    font-weight: 500;
  }

  a, button {
    color: black;
    font-weight: 400;
    text-transform: none;
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
  }

  a[mat-icon-button] {
    margin-top: auto;
    justify-content: center;
  }
}


  @media (max-width: 600px) {
    .nav-desktop {
      display: none;
    }

    .burger-btn {
      display: block;
    }

    .logo {
      height: 35px;
    }
    
  }
}
