<header class="app-header">
  <img src="/assets/logo_p6.png" alt="Logo MDD" class="logo" />
  <ng-container *ngIf="isMobile; else desktopNav">
    <button mat-icon-button class="burger-btn" (click)="openSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>

  <ng-template #desktopNav>
    <nav class="nav-desktop">
      <button mat-button class="deconnect" (click)="logoutAndClose()">Se Déconnecter</button>
      <a mat-button routerLink="/feed" routerLinkActive="active">Articles</a>
      <a mat-button routerLink="/topics-list" routerLinkActive="active">Thèmes</a>
      <a mat-icon-button routerLink="/profile" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
      </a>
    </nav>
  </ng-template>
</header>
